/* About.css */
.about {
  background-color: white;
}

.about-content {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.about-text {
  flex: 1;
}

.about-text p {
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
}

.about-image {
  flex: 1;
}

.about-img-container {
  height: 400px;
  background: url("../images/about-spices.png");
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  box-shadow: var(--shadow);
}

@media (max-width: 768px) {
  .about-content {
    flex-direction: column-reverse;
    gap: 2rem;
  }
}
